<!DOCTYPE html>
<html>
<head>
	<title>Twitch Dashboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<style type="text/css">
		html, body {
			background-color: #282828;
		}
		.navbar.bg-gray {
			background-color: #111;
		}
		body {
			font-family: Arial;
			color: #d3d3d3;
			padding-bottom: 150px;
		}

		main {
			padding-top: 20px;
		}

		.table td,
		.table th {
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;
			padding-right: 10px;
		}

		.table th {
			vertical-align: bottom;
			padding-top: 15px;
		}

		.table-dark {
			background-color: #222;
			color: #d3d3d3;
		}

		.table-dark thead th {
			border-top: 0;
		}

		.table-dark thead th,
		.table-dark tbody td {
			border-color: #333;
		}

		a:link, a:visited {
			text-decoration: none;
			color: #6ac;
		}
		a:hover {
			color: #8be;
		}

		.user-row {
			display: inline-block;
		}

		table th {
			text-align: left;
		}
		table th, table td {
			padding-left: 5px;
			padding-right: 5px;
		}
	</style>
	{% block additionalHeaders %}{% endblock %}
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
	<script type="text/javascript">
		// Dummy function. Can be overwritten in template that want to draw charts
		function drawCharts() {}
	</script>

	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-gray">
			<div class="container">
				<a class="navbar-brand" href="{{ path('index') }}">Twitch Chat Analyser</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="{{ path('index') }}"><i class="fa fa-dashboard"></i> Overview</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ path('emotes') }}"><i class="fa fa-smile-o"></i> Emotes</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ path('users') }}"><i class="fa fa-users"></i> Chatters</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<main>
		<div class="container">
			{% block content %}{% endblock %}
		</div>
	</main>

	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawCharts);

		var chartOptions = {
			backgroundColor: '#282828',
			hAxis: {
				textStyle: { color: '#aaa' },
				gridlines: { color: '#444' }
			},
			vAxis: {
				textStyle: { color: '#aaa' },
				gridlines: { color: '#444' }
			},
			legendTextStyle: { color: '#aaa' },
			chartArea: {
				left: 80,
				top: 15,
				width: '75%',
				height: '80%'
			}
		};
	</script>
</body>
</html>
