<div class="period-picker">
	<form action="{% block action %}{% endblock %}" method="GET" class="form-inline">
		<div class="period-start">
			Start: <input type="datetime-local" name="windowStartText" value="{{ windowStartText }}">
		</div>
		<div class="period-end">
			End: <input type="datetime-local" name="windowEndText" value="{{ windowEndText }}">
		</div>
		<button type="submit" class="btn btn-sm btn-primary">Go</button>
	</form>
</div>
